<div class="row w-75 mx-auto">
  <div class="col-md-12">
    <h1>{{data.name}}</h1>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{data.image}}"
      style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    <br>
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>屬性：</strong> {{data.property}}</li>
        <li><strong>皮膚：</strong> {{data.skin}}</li>
        <li><strong>攻擊：</strong> {{data.attack}}</li>
        <li><strong>攻擊範圍：</strong> {{data.range}}</li>
      </ul>
    </div>
  </div>
  <hr>
  <a class="btn btn-outline-secondary w-25" href="javascript:history.back()">Back</a>
</div>